.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto 180px;

  &__card {
    margin: 10px;
    min-height: 263px;
    background-color: $white;
    border-radius: 15px;
    box-shadow: $cards-shadow;
  }

  &__card--special-light {
    @include card-border($accent);
  }

  &__card--special-dark {
    background-color: $accent;
    @include card-border($white);
  }
}
