.navbar-light {
  background-color: $primary;
  text-transform: uppercase;

  .container-fluid {
    width: 90%;
    margin: 0 auto;
  }

  .navbar-brand {
    color: $dark;
    font-size: 1.8rem;
  }

  .navbar-toggler {
    border: none;
  }
  .navbar-collapse {
    @media (min-width: $tab-veiw) {
      /*flex-basis: initial;*/
      flex-grow: initial;
    }
  }
}

.navbar-nav {
  .nav-link {
    color: $light !important;

    &:hover,
    &:focus {
      color: $accent !important;
    }
    &.active {
      color: $accent !important;
    }
  }

  .show > .nav-link,
  .nav-link.active {
    color: $accent;
  }
}
